extends layout 

block content 
    h1= title 

    ul 
        each console in console_list 
            li 
                a(href=console.url) #{console.name} 
                | (#{console.release_year} - #{console.discontinued})

        else 
            li There are no authors.