extends layout 

block content 
    h1 #{title}: #{console.name} 

    if console_games.length 

        p #[strong Delete the following games before attempting to delete this console.] 

        div(style='margin-left:20px;margin-top:20px')

            h4 Games 

             dl 
            each game in console_games 
                dt 
                    a(href=game.url) #{game.title} 
                dd #{game.publisher}

    else 
        p Do you really want to delete this Console? 

        form(method='POST' action='') 
            div.form-group 
                input#consoleid.form-control(type='hidden', name='consoleid', required='true', value=console._id)

            button.btn.btn-primary(type='submit') Delete